@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  align-self: center;
  justify-self: center;
}

p {
  font-weight: 500;
  text-transform: none;
  color: #fff;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

.section-btn {
  background: #3e2bc5;
  border: 1px solid #3e2bc5;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 24px 0;
  padding: 11px 20px;
  text-align: center;
  transition: background 0.5s ease-in-out;
}

.section-btn:hover {
  background: transparent;
  color: #3e2bc5;
  border: 1px solid #3e2bc5;
}

.section-column {
  padding: 0 15px;
}

a:focus,
a:active,
a:hover {
  outline: 0;
}

a {
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.section-row {
  display: grid;
  margin-right: -15px;
  margin-left: -15px;
}

.hr {
  border-top: 1px solid #b8b7b5;
  width: 1200px;
  max-width: 92vw;
  margin: 0 auto;
}

.section-container {
  width: 1200px;
  max-width: 92vw;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

@media (max-width: 992px) {
  h1 {
    font-size: 11vw;
  }

  h2 {
    font-size: 7vw;
  }

  h3 {
    font-size: 6vw;
  }
}

.testimonial,
.partner,
.work,
.footer {
  background: #f3f2fb;
}

.testimonial h2,
.partner h2,
.work h2,
.work-info h1 {
  font-weight: 700;
  margin: 30px 0;
  color: #3e2bc5;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
}

/* global */

/* hero-section */
.hero-section {
  box-sizing: border-box;
  background-color: #fff;
  height: auto;
  min-height: min-content;
}

.hero-section .section-container {
  padding-bottom: 80px;
  padding-top: 80px;
}

.hero-row {
  grid-template-columns: 1.5fr 2fr;
  gap: 20px;
}

.hero-column-2 {
  align-self: center;
  justify-self: center;
}

.hero-column img {
  max-width: 100%;
  height: auto;
}

.hero-section h1 {
  font-weight: 700;
  margin: 0px 0px 0.5em;
  font-size: 3rem;
  line-height: 3.125rem;
  text-align: left;
  color: #3e2bc5;
}

.hero-section p {
  margin: 0.5rem 0px 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  color: #7a7a7a;
}

@media (max-width: 768px) {
  .hero-section p,
  .hero-section h1 {
    text-align: center;
  }

  .hero-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-section h2 {
    max-width: 320px;
    margin: 0 auto 15px;
  }

  .hero-row {
    grid-template-columns: 1fr;
  }
}
/* hero-section */

/* testimonial section */
.testimonial {
  padding: 50px 0 0;
}

.testimonial-row {
  padding-bottom: 50px;
}

.testimonial-row {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 50px;
}

.testimonial-author {
  color: #3e2bc5;
}

.testimonial-content {
  align-items: center;
  display: flex;
  margin: 1rem 0px;
  text-align: left;
}

.testimonial-img {
  margin-right: 20px;
}

.testimonial-text {
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.testimonial-detail {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .testimonial-row {
    display: flex;
    flex-wrap: wrap;
  }
}

/* testimonial section */

/* partner section */
.partner {
  padding: 50px 0;
}

.partner .section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-logos {
  max-width: 100%;
  gap: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .partner h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

/* partner section */

/* work section */
.work {
  padding: 50px 0 100px;
}

.work h2 {
  text-align: left;
}

.work p {
  margin: 24px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: 500;
  color: #7a7a7a;
}

.work-btn {
  width: fit-content;
}

.work-row {
  grid-template-columns: 1fr 1.2fr;
  gap: 80px;
  padding-top: 50px;
}

.work-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  max-width: 800px;
  padding: 50px 30px;
}

.work-logo {
  margin: 24px 0;
}

.work-info p {
  margin: 0 0 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #7a7a7a;
}

@media (max-width: 992px) {
  .work-row {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .work-column {
    align-items: center;
  }

  .work-column {
    order: 2;
  }

  .work h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .work p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .work h2,
  .work p {
    text-align: center;
  }
}
/* work section */

/* cta section */
.cta {
  background-color: #3e2bc5;
  height: auto;
  min-height: min-content;
  position: relative;
  padding: 50px 0;
}

.cta .section-container {
  align-items: center;
  display: flex;
  padding: 0px 15px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-title {
  font-weight: 700;
  margin: 24px 0;
  color: #fff;
  font-size: 1.7rem;
  line-height: 2.8rem;
  text-align: center;
}

.cta-content p {
  text-align: center;
}

.cta-img,
.cta-content {
  padding: 0 15px;
}

.cta-btn {
  background: #0ab1e8;
  color: #fff;
  border: 1px solid #0ab1e8;
}

.cta-btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 992px) {
  .cta-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .cta-title {
    font-size: 1.25rem;
  }
}

/* cta section */

/* footer section */

.footer .section-container {
  padding: 80px 0 60px;
}

.footer .section-container:nth-last-child(1) {
  padding: 0;
}

.footer-column-1,
.footer-column-2 {
  text-align: left;
}

.footer-logo {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 30px;
}

.footer p,
.footer a {
  color: #7a7a7a;
  text-align: left;
}

.footer li {
  display: flex;
  margin: 12px 0;
  align-items: center;
}

.footer li p {
  margin-left: 12px;
}

.footer .section-row {
  text-align: center;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.copy-right {
  font-size: 0.9rem;
  color: #7a7a7a;
}

.copy-right-bg {
  padding: 30px 0;
}

.copy-right a {
  color: #3e2bc5;
}

.footer li svg {
  width: 30px;
  color: #3e2bc5;
  align-self: baseline;
}

.footer .title {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #2f3034;
}

.footer a {
  font-size: 0.9rem;
  transition: color 0.4s ease 0s;
}

.footer a:hover {
  color: #3e2bc5;
}

.footer-column-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
}

.social-icon {
  margin-top: 30px;
  display: inline-flex;
}

.social-icon li {
  padding: 0 2px 0 2px;
}

.social-icon i {
  border: 1px solid #e1e1e1;
  color: #3e2bc5;
  font-size: 16px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  transition: all 0.4s ease 0s;
  border-radius: 50%;
  cursor: pointer;
}

.social-icon i:hover {
  border: 1px solid #3e2bc5;
  color: #e1e1e1;
  background-color: #3e2bc5;
}

.section-row-2 {
  text-align: center;
}

@media (max-width: 992px) {
  .footer .section-row {
    grid-template-columns: 1fr;
  }

  .footer-column-1,
  .footer-content p {
    text-align: center;
  }

  .footer-column-2 {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .inner-column {
    margin-bottom: 30px;
  }

  .inner-column:nth-child(3) {
    margin-bottom: 0;
  }
}

/* footer section */
